*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/secret.gradle
/.idea/dbnavigator.xml
/.idea/encodings.xml
/.idea/statistic.xml
/app/release
*.jks
*.apk
output-metadata.json