<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.su.mediabox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- U-PUSH 移除自启动能力 -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mediabox"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_mediabox_round"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PluginInstallerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="插件安装"
            android:launchMode="singleTop"
            android:theme="@style/PluginInstallerStyle">

            <!-- 本地安装 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:scheme="content" />
            </intent-filter>
            <!-- 在线安装 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="plugin"
                    android:path="/install"
                    android:scheme="mediabox" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.HomeActivity"
            android:exported="false" />
        <activity android:name=".view.activity.NoticeActivity" />
        <activity
            android:name=".view.activity.WebViewActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.CustomDataActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".util.crash.CrashActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize"
            android:theme="@style/AppCrash" />
        <activity
            android:name=".view.activity.MediaDataActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.DlnaControlActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.DlnaActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.SimplePlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
        <activity
            android:name=".view.activity.LicenseActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.MediaClassifyActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.MediaSearchActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize"
            android:theme="@style/Search.Theme" />
        <activity
            android:name=".view.activity.VideoMediaPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/Theme.AppCompat.DayNight.Fullscreen" />
        <activity
            android:name=".view.activity.MediaDetailActivity"
            android:configChanges="uiMode|orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".view.activity.BaseActivity"
            android:configChanges="uiMode" />

        <service
            android:name=".util.dlna.dmc.DLNACastService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="false"
            tools:replace="android:exported" />

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:exported="false"
            tools:replace="android:exported" />
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:exported="false"
            tools:replace="android:exported" />

        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="false"
            tools:replace="android:exported" />

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="false"
            tools:replace="android:exported" />
    </application>

</manifest>