<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyd.imomoe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.樱花动漫"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.DlnaControlActivity" />
        <activity android:name=".view.activity.DlnaActivity" />
        <activity
            android:name=".view.activity.SimplePlayActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".view.activity.AnimeDownloadActivity" />
        <activity android:name=".view.activity.LicenseActivity" />
        <activity android:name=".view.activity.AboutActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.MonthAnimeActivity" />
        <activity android:name=".view.activity.ClassifyActivity" />
        <activity android:name=".view.activity.RankActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity
            android:name=".view.activity.PlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
        <activity android:name=".view.activity.AnimeDetailActivity" />
        <activity android:name=".view.activity.BaseActivity" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.skyd.imomoe.util.dlna.dmc.DLNACastService" />

        <receiver
            android:name=".util.update.UpdateNotificationReceiver"
            android:exported="false" />

        <service
            android:name=".util.downloadanime.AnimeDownloadService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".util.downloadanime.AnimeDownloadNotificationReceiver"
            android:exported="false" />

        <service
            android:name=".util.update.AppUpdateDownloadService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>