name: Android CI

on: 
  push:
    paths-ignore:
    # 构建无关文件不触发
      - '**.md'
      - '**.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
    - name: Build with Gradle
      run: ./gradlew assembleDebug
    - name: Upload Debug Artifact
      uses: actions/upload-artifact@v3
      with:
        name: "auto_built_snapshot_${{ github.sha }}"
        path: app/build/outputs/apk/Github/debug/app_debug.apk
        retention-days: 10
